@font-face {
  src:
    local("Inter-Regular"),
    url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
  font-family: "Inter-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Inter-Medium"),
    url("/fonts/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter-Medium.woff") format("woff");
  font-family: "Inter-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Inter-SemiBold"),
    url("/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter-SemiBold.woff") format("woff");
  font-family: "Inter-SemiBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Inter-Bold"),
    url("/fonts/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter-Bold.woff") format("woff");
  font-family: "Inter-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
