.form-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--gradient-secondary);
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius-l);
  padding: 20px;

  @media (max-width: 767px) {
    padding: 20px 10px;
  }

  &_submited {
    background: var(--deep-blue-fourthly);
  }
}
.form-submited-text {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-primary);

  &_noAccent {
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--mask-white-primary);
  }
}
.form-title {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  line-height: 38px;
  color: var(--red-thirdly);
  // letter-spacing: 1px;
}
.form-subtitle {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--deep-blue-fourthly);
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.form-label {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  color: var(--deep-blue-thirdly);
  padding-bottom: 5px;
}
.form-input {
  width: 100%;
  height: 40px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  color: var(--deep-blue-secondary);
  background: var(--white-primary);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--border-primary);
  padding-left: 12px;
  padding-right: 40px;
  transition: 0.2s ease;
}
.form-input:focus {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  color: var(--black-primary);
  outline: 0;
  border: 1px solid var(--deep-blue-thirdly);
}
.form-input::placeholder {
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  color: var(--mask-black-secondary);
}
.form-input:focus::placeholder {
  color: transparent;
}
.form-clear {
  position: absolute;
  top: 30px;
  right: 12px;
  width: 16px;
  height: 16px;
  fill: var(--mask-black-secondary);
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    fill: var(--deep-blue-thirdly);
  }
}
.mark {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  color: var(--mask-black-thirdly);
}
