.form-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80px;
  background: var(--gradient-thirdly);
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius-l);
  padding: 20px;

  @media (max-width: 767px) {
    height: 60px;
    padding: 10px;
  }

  &_open {
    height: 100%;
  }
}
.form-weight {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
.form-nutritional {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.form-submited-text {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-primary);
}
.form-submited-text-noAccent {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--mask-white-secondary);
}
.form-title {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  line-height: 38px;
  color: var(--white-primary);

  @media (max-width: 767px) {
    font-size: 16px;
  }

  &_second {
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}
.form-subtitle {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--deep-blue-fourthly);
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.form-label {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  color: var(--mask-white-secondary);
  padding-bottom: 5px;
}
.form-input {
  position: relative;
  width: 100%;
  height: 40px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  color: var(--deep-blue-secondary);
  background: var(--white-primary);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--border-primary);
  padding-left: 12px;
  padding-right: 40px;
  transition: 0.2s ease;
  z-index: 2;

  &_number {
    padding-right: 12px;
  }
}
.form-input:focus {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  color: var(--black-primary);
  outline: 0;
  border: 1px solid var(--deep-blue-thirdly);
}
.form-input::placeholder {
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  color: var(--mask-black-secondary);
}
.form-input:focus::placeholder {
  color: transparent;
}
.form-input-submited {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  padding-right: 40px;
}
.form-input-text-submited {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--white-primary);
}
.form-textarea {
  position: relative;
  width: 100%;
  min-height: 100px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--deep-blue-secondary);
  background: var(--white-primary);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--border-primary);
  padding: 12px 40px 12px 12px;
  transition: 0.2s ease;
  z-index: 2;
}
.form-textarea:focus {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-primary);
  outline: 0;
  border: 1px solid var(--deep-blue-thirdly);
}
.form-textarea::placeholder {
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  color: var(--mask-black-secondary);
}
.form-textarea:focus::placeholder {
  color: transparent;
}
.form-textarea-submited {
  width: 100%;
  min-height: 100px;
  padding: 10px 40px 10px 12px;
}
.form-textarea-text-submited {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: var(--white-primary);
}
.form-clear {
  position: absolute;
  top: 30px;
  right: 12px;
  width: 16px;
  height: 16px;
  fill: var(--mask-black-secondary);
  cursor: pointer;
  transition: 0.2s ease;
  z-index: 3;

  &:hover {
    fill: var(--deep-blue-thirdly);
  }
}
.mark {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--mask-white-secondary);
}
.form-top-button {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--mask-blue-thirdly);
  border-radius: 50%;
  transition: 0.2s ease;

  &:hover {
    background: var(--red-secondary);
  }

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
  }

  &_right {
    right: 20px;

    @media (max-width: 767px) {
      right: 10px;
    }
  }

  &_left {
    right: 70px;

    @media (max-width: 767px) {
      right: 50px;
    }
  }
}
.form-bottom-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: rotate(90deg);
  transition: 0.5s ease;
  z-index: 1;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
    right: 10px;
    bottom: 13px;
  }

  &_open {
    transform: rotate(270deg);
  }
}
.form-button-edit {
  width: 24px;
  height: 24px;
  fill: var(--white-primary);

  @media (max-width: 767px) {
    width: 20px;
    height: 20px;
  }
}
