html {
  scroll-behavior: smooth;
}

body {
  background: var(--white-primary);
  vertical-align: middle;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--black-primary);
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.line-dashed {
  width: 100%;
  min-width: 20px;
  border-bottom: 1px dashed var(--mask-white-primary);
}
.page-padding-x {
  padding-left: 1rem;
  padding-right: 1rem;
}
.left-enter-active,
.left-leave-active {
  transition: all 0.3s ease;
}
.left-enter-from,
.left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
